<div  class="bg-color-1 container" >
  <h1>Input types<h2>
  <h2>Basic example</h2>


  <input ng-model="text" placeholder="test text" type="text">
  <pre>{{text |json}}</pre>

  <input ng-model="number" placeholder="test number" type="number">
  <pre>{{number |json}}</pre>

  <input ng-model="checkbox"  type="checkbox">
  <pre>{{checkbox |json}}</pre>



  <h2>Complex example</h2>
  <input ng-model="form.name" placeholder="form.name">
  <br>
  <input ng-model="form.password" type="password" placeholder="form.password">
  <pre> {{form |json}}</pre>
  <br>
</div>
